.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background{
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background{
  background: #141414;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  padding: 24px 0;
  max-width: 720px;
  min-height: 332px;
  overflow-y: auto;
}